.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 20px;
}

.container.waiting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

label {
  margin-right: 8px;
}

.item {
  margin-right: 8px;
}

.canvas {
  margin: 10px 4px;
  border: 1px solid #333;
  box-shadow: rgba(161, 161, 161, 0.733) 0px 0px 20px;
}

.button {
  align-self: center;
  margin: 10px 4px;
  max-width: 10%;
  border-radius: 16px;
}
