.App-header {
  background-color: #b9b9b9;
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: Comfortaa, sans-serif;
  color: white;
}

.welcome-container {
  font-size: calc(30px + 2vmin);
  font-family: Comfortaa, sans-serif;
  font-weight: bolder;
  color: #5de084;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}
